.mainSection{
    height: 80%;
}

.section{
    display: flex;
    flex-flow: column wrap;
    width: 80%;
}

.article {
    display: flex;
    margin: 20px 0px 65px 50px;
}

.image-info {
    display: flex;
    float: right;
    flex-flow: column wrap;
    margin-top: 2px;
    margin-left: 10px;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #9d9d9d;

}

.titleLeft {
    width: 450px;
    font-family: 'Arial Black';
    font-weight: bolder;
    font-size: 22px;
    line-height: 27px;
}


.subInfo {
    display: flex;
    gap: 5px;
}

.srcLogo {
    height: 16px;
    width: 16px;
}

.srcName {
    color: #7e7e7e;
    font-family: Retina,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.6;
}

.timestamp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #9d9d9d;
}

.categoryName {
    color: #232323;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 35px;
    font-weight: 990;
    line-height: 1.11;
    margin: 20px 0px 15px 55px;
}

.categoryTitle {
    color: #232323;
    font-family: Arial,Helvetica,sans-serif;;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.14;
    word-spacing: -5px;
    margin-bottom: 0px;
    margin-left: 55px;
}

.more {
    margin-top: 50px;
}

.seeMore {
    margin-bottom: 0px;
    color: #7e7e7e;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11.5px;
    font-weight: 90;
    line-height: 0.1;
}

.buttonName {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #7e7e7e;
    border: 1px solid #cccccc;
    padding: 2px 9px;
    max-width: fit-content;
}

.buttonName:hover {
    border: 1px solid black;
    cursor: pointer;
}


