.container{
    margin:  50px 5px 5px 20px;
}
.videos{
    display: flex;
margin: 10px 5px 10px 5px;
}
.title-right{
font-weight: 900;
    font-size: 15px;
    font-family: arial;
    margin-left: 10px;
    width: 230px;
}
.added{
    color: rgb(139, 139, 139);
    font-size: 10px;
    font-weight: 800;
}
.h-added{
    margin-left: 10px;
    color: rgb(139, 139, 139);
    font-size: 10px;
    font-weight: 800;
}

.category-name{
    font-weight: 800;
     font-size: 22px ;
     color:rgb(87, 85, 85);
}
.news-text{
        display: flex;
        flex-direction: column;
     margin: 0 10px 0 20px;
}
.vertical{
    display: flex;
    flex-direction: column;
}