.container{
    margin:  50px 5px 5px 20px;
}
.videos{
    display: flex;
}
.title{
font-weight: 900;
    font-size: 18px;
    font-family: arial;
}
.added{
    color: rgb(139, 139, 139);
    font-size: 10px;
    font-weight: 800;
}
.category-name{
    font-weight: 800;
     font-size: 22px ;
     color:rgb(87, 85, 85);
}
.news-text{
        display: flex;
        flex-direction: column;
     margin: 0 10px 0 20px;
}
.img{
    margin-top: 20px;
}