.body{
    height: 80%;
}
.category{
    color: red;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 20px;
}
.horizontal {
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 10px 10px;
    gap: 30px;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.full-body{
    display: flex;
    justify-content: space-between;
    width: 80%;

}
.vid-description{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.right-part{
margin-top: 50px;
}