.search {
  background-color: black;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 5px;
  border: none;
  width: 80px;
  height: 32px;
}
.search-after {
  background-color: transparent;
  font-size: 15px;
  border: none;
  width: 150px;
  height: 32px;
}
.ant-modal-body {
    padding: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ant-modal-content {
  left: 105%;
  height: 36px;
  width: 250px;
  top: -90px;
  position: absolute;
  background-color: rgb(47, 46, 46);
  color: aliceblue;
}

input:focus {
  outline: none;
}
.search-icon {
  background-color: transparent;
  color: white;
  padding-top: 4px;
  padding-bottom: 0px;
  height: 24px;
  width: 23px;
}
.search-posts {
  color: black;
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 45px;
}
.remove {
  height: 30px;
  border-radius: 2px;
  border-width: 1px;
  width: 90px;
  background-color: white;
}
.second-modal{
 right: 25%;
  top:50%;
  width: 300px;
}
.row{
  display: flex;
  justify-content: space-between;
}