.row{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.second-modal{
    right: 35%;
    top: 50%;
}

.second-modal__body {
    width: 500px;
    background-color: #dedcdc;
    color: black;
}