.search {
  background-color: black;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 5px;
  border: none;
  width: 80px;
  height: 32px;
}
.search-after {
  background-color: transparent;
  font-size: 15px;
  border: none;
  width: 200px;
  height: 20px;
  color :white;
}

input:focus {
  outline: none;
}
.search-icon {
  background-color: transparent;
  color: white;
  padding-top: 4px;
  padding-bottom: 0px;
  height: 24px;
  width: 23px;
}
.search-posts {
  color: black;
  display: flex;
  flex-direction: row;
  margin: 5px;
  gap: 45px;
}
.remove {
  height: 30px;
  border-radius: 2px;
  border-width: 1px;
  width: 90px;
  background-color: white;
}