.form-card {
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 280px;
    border: 0.5px solid #a2a2a2;
    opacity: 0.75;
}

.form-card h3{
    color: black;
    font-weight: bolder;
    text-align: center;
}

.form-card h1{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 25px;
    color: #1890ff;
}

.form-input{
    width: 90%;
    align-self: center;
    margin: 0 50px;
    box-sizing: border-box;
}

Button{
    margin-top: 10px;
}
.login-footer{
    border-top: 1px solid #6e6c6c;
    width: 280px;
    margin-left: -50px;
    margin-top: 40px;
    place-items: center start;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: black;
}
.social-med-btn{
   margin-left: 50px;
}
.facebook{
color:white;
   border-color: transparent;
    background-color: royalblue;
    margin: 5px;
    height: 20px;
    width: 25px;

}
.facebook-btn{
    color:white;
    border-color: transparent;
    background-color: transparent;
    margin: 1px;
}
.google{
    color: orangered;
    border-color: transparent;
    background-color: white;
    margin: 4px;
    height: 25px;
    width: 30px;
}
.ant-layout-footer{
    padding: 0px;
}
.ant-layout-content{
    background-color: white;
}